body {
	padding: 0;
	margin: 0;
}

/*fontface*/
@font-face {
    font-family: 'montserrat-regular';
    src: url('../font/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'montserrat-medium';
    src: url('../font/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'montserrat-semibold';
    src: url('../font/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'montserrat-bold';
    src: url('../font/Montserrat-Bold.ttf') format('truetype');
}
/*akhir fontface*/

/*navbar*/
.navbar {
	margin-top: 25px;
}

.navbar-brand {
	color: white !important;
	font-size: 24px;
	font-family: 'montserrat-bold';
	text-shadow: 3px 3px 5px rgba(0,0,0,0.5);
	transition: .3s;
}
.navbar-brand:hover {
	color: cornflowerblue !important;
}

.nav-link {
	color: white !important;
	margin-left: 70px;
	transition: .3s;
}
.nav-link:hover {
	text-decoration: none;
	color: cornflowerblue !important;
}

.nav-item {
	font-family: 'montserrat-regular';
	font-size: 16px;
}

.navbar-mobile{
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background-color: #333;
	color: white;
	text-transform: uppercase;
	margin-left: 1000px;
	transition: 0.5s;
}

.klik{
	margin-left: 150px;
}

.navbar-mobile ul{
	list-style: none;
	margin-top: 20px;
	width: 100%;
}

.navbar-mobile ul .nav-link{
	color: white !important;
	padding: 15px 30px 15px 30px;
	border-bottom: 1px solid rgba(0,0,0,0.2);
	font-family: 'montserrat-medium';
	margin-left: -40px !important;
}

.navbar-mobile ul a:hover{
	background-color: #999;
}

.navbar-mobile p{
	font-family: 'montserrat-medium';
	font-size: 18px;
	margin-top: 25px;
	margin-left: 20px;
	font-weight: bold;
}

.navbar-mobile .close-button{
	margin-top: 20px;
	margin-right: 190px;
	font-size: 24px;
	color: white;
}

.navbar-toggler {
	position: fixed;
	right: 30px;
	z-index: 1;
}
/*akhir navbar*/

/*jumbotron*/
.jumbotron {
	background-image: url(../img/banner-1.png);
	width: 100%;
	height: 100vh;
	margin-top: -90px;
}

.jumbotron h1 {
	color: white;
	margin-top: 220px;
	font-family: 'montserrat-semibold';
	font-size: 42px;
	text-shadow: 3px 3px 5px rgba(0,0,0,0.5);
	line-height: 50px;
}
/*akhir jumbotron*/

/*profile*/
.profile {
	height: 100vh;
	padding-top: 50px;
}

.profile h2 {
	font-family: 'montserrat-semibold';
    font-size: 38px;
    color: black;
}

.profile .row {
	margin-top: 42px;
}

.profile .keterangan {
	margin-top: 20px;
	font-family: 'montserrat-regular';
	font-size: 18px;
}
/*akhir profile*/

/*education*/
.education {
	background-image: url(../img/banner-2.png);
	width: 100%;
	height: 100vh;
	padding-top: 50px;
}

.education h2 {
	font-family: 'montserrat-semibold';
	font-size: 38px;
	color: white;
	text-shadow: 3px 3px 5px rgba(0,0,0,0.5);
}

.education .row {
	margin-top: 45px;
}

.education .card {
	border-radius: 20px;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
}

.education .card img {
	width: 252px;
	height: 293px;
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
}

.education .card .smk {
	width: 280px;
	height: 280px;
}

.education .card p {
	font-family: 'montserrat-regular';
	font-size: 20px;
	margin-top: 20px;
}

.education .card .text-smk {
	margin-top: 33px;
}
/*akhir education*/

/*contact*/
.contact {
	height: 92vh;
	padding-top: 50px;
	width: 100%;
}

.contact h2 {
	font-family: 'montserrat-semibold';
	font-size: 38px;
}

.contact .row {
	margin-top: 70px;
}

.contact .row p {
	font-family: 'montserrat-regular';
	font-style: italic;
	font-size: 28px;
	margin-top: 20px;
	color: black;
}

.contact .row a p {
	transition: 0.5s;
}

.contact .row a:hover,
.contact .row a:hover p {
	text-decoration: none;
	color:cornflowerblue;
}
/*akhir contact*/

/*footer*/
footer {
	height: 60px;
	background-color: #828282;
	padding-top: 15px;
	width: 100%;
}

footer p {
	color: white;
	font-family: 'montserrat-medium';
	font-size: 18px;
}

footer a {
	color: white;
	text-decoration: none;
	transition: 0.5s;
}

footer a:hover {
	text-decoration: none;
	color: cornflowerblue;
}
/*akhir footer*/

/*android version*/
@media (max-width: 991px) {
	
	/*Navbar*/
	.navbar-collapse {
		display: none;
	}

	.navbar-mobile {
		display: block;
	}
	/*akhir navbar*/

	/*jumbotron*/
	.jumbotron h1 {
		font-size: 32px;
		line-height: 45px;
		margin-top: 240px;
	}
	/*akhir jumbotron*/

	/*profile*/
	.profile {
		height: 100%;
	}

	.profile .row {
		margin-top: 50px;
	}

	.profile .gambar {
		text-align: center;
	}

	.profile .gambar img {
		width: 350px;
	}

	.profile .keterangan {
		margin-top: 25px;
		margin-bottom: 55px;
	}

	.profile .keterangan table {
		margin-left: auto;
		margin-right: auto;
	}

	.profile .keterangan table tr td{
		padding: 10px;
	}
	/*akhir profile*/

	/*education*/
	.education {
		height: 100%;
		padding-bottom: 50px;
	}

	.education .card {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 20px;
	}
	/*akhir education*/

	/*contact*/
	.contact {
		height: 100%;
	}
	.contact .row div {
		margin-bottom: 50px;
	}

	.contact .row img {
		width: 35%;
	}

	.contact .row p {
		font-size: 26px;
	}
	/*akhir contact*/

	/*footer*/
	footer {
		clear: both;
	}
	/*akhir footer*/

}
/*akhir android version*/