* {
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
}

.container {
    margin: 0 10% 0 10%;
}

body {
}

html{
    overflow-y: scroll;
    scroll-behavior: smooth;
}

/* -------------------- Fontface ------------------------------- */
@font-face {
    font-family: 'montserrat-regular';
    src: url('font/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'montserrat-medium';
    src: url('font/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'montserrat-semibold';
    src: url('font/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'montserrat-bold';
    src: url('font/Montserrat-Bold.ttf') format('truetype');
}
/* --------------------------------------------------------------- */

/* Navigasi */
.navigasi {
    margin-top: 35px;
    position: relative;
    z-index: 1;
}

.navigasi a {
    color: white;
}

.nav-header {
    float: left;
    font-size: 24px;
    margin-top: -5px;
    font-family: 'montserrat-medium';
    text-shadow: 3px 3px 5px rgba(0,0,0,0.5);
}

.nav-header a {
    text-decoration: none;
    transition: 0.5s;
}

.nav-header a:hover {
    color: cornflowerblue;
}

.nav-child {
    float: right;
    font-family: 'montserrat-regular';
    font-size: 16px;
}

.nav-child ul {
    margin-top: 0;
}

.nav-child ul li {
    display: inline-block;
    text-decoration: none;
    margin-left: 70px;
}

.nav-child ul li a {
    text-decoration: none;
    padding-bottom: 5px;
}

.nav-child ul li a:hover {
    border-bottom: 1px solid cornflowerblue;
}
/* ------------------------------------------------ */

/* banner */
.banner {
    background-image: url(img/banner-1.png);
    background-repeat: no-repeat;
    width: 100%;
    display: inline-block;
    height: 100vh;
    margin-top: -70px;
}

.banner h1 {
    color: white;
    font-family: 'montserrat-bold';
    display: inline-block;
    margin-top: 280px;
    line-height: 50px;
    font-size: 32px;
    text-shadow: 3px 3px 5px rgba(0,0,0,0.5);
}

.banner .down {
    margin-top: 230px;
    text-align: center;
}
/* -------------------------------------------------- */

/* Profile */
.profile{
    height: 100vh;
    padding-top: 50px;
}

.profile h2 {
    font-family: 'montserrat-semibold';
    font-size: 38px;
    text-align: center;
}

.profile .isi-profile {
    margin-top: 42px;
}

.profile .avatar {
    float: left;
}

.profile .keterangan {
    margin-left: 30px;
    float: left;
    margin-top: 84px;
    font-family: 'montserrat-regular';
    font-size: 18px;
}
/* --------------------------------------------- */

/* Education */
.education {
    background-image: url(img/banner-2.png);
    height: 100vh;
    padding-top: 50px;
}

.education h2 {
    font-family: 'montserrat-semibold';
    font-size: 38px;
    text-align: center;
    color: white;
}

.education .isi-education {
    margin-top: 50px;
}

.education .isi-education .card {
    display: inline-block;
    width: 352px;
    height: 456px;
    background-color: white;
    text-align: center;
    border-radius: 20px;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
    float: left;
}

.margin-r {
    margin-right: 10px;
}

.education .isi-education .card img {
    width: 252px;
    height: 293px;
    margin-top: 25px;
}

.education .isi-education .card .smk img {
    width: 293px;
    height: 293px;
    margin-top: 25px;
}

.education .isi-education .card p {
    font-family: 'montserrat-regular';
    font-size: 20px;
    margin-top: 40px;
}
/* ------------------------------------------ */

/* Contact */
.contact {
    height: 547px;
    padding-top: 50px;
}

.contact h2 {
    font-family: 'montserrat-semibold';
    font-size: 38px;
    text-align: center;
}

.contact .isi-contact {
    margin-top: 70px;
}

.contact .isi-contact div {
    float: left;
}

.contact .margin-r {
    margin-right: 160px;
}

.contact .isi-contact p {
    font-family: 'montserrat-regular';
    font-style: italic;
    text-align: center;
    font-size: 28px;
    margin-top: 20px;
}

.contact .isi-contact a {
    color: black;
    text-decoration: none;
    transition: 0.5s;
}

.contact .isi-contact a:hover {
    color:cornflowerblue;
}
/* ----------------------------------- */

/* Footer */
.footer {
    height: 40px;
    background-color: #828282;
    padding-top: 20px;
}

.footer p {
    font-family: 'montserrat-medium';
    font-size: 18px;
    color: white;
    text-align: center;
}

.footer a{
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

.footer a:hover {
    color: cornflowerblue;
}
/* ----------------------------- */